<div class="row">
    <div class="col-xl-12">
        <h2 class="page-header ">
            {{ heading | translate}}
        </h2>
        <ol class="breadcrumb p-1" style = "background-color:rgb(245, 217, 177);color:black">
            <li class="breadcrumb-item">
                <i class="fa {{mainIcon}} "></i>&nbsp; <a [routerLink]="mainheadLink" href="Javascript:void(0)">{{mainhead}}</a>
            </li>
            <li class="breadcrumb-item active"><i class="fa {{ icon }}"></i>&nbsp; {{ heading }}</li>
        </ol>
    </div>
</div>
