*{
  padding:0px;
  margin:0px;
}
.loader{
	position:absolute;
	z-index:99;
	margin-top:auto;
}
#load{
 	background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
  	color: white;
  	font-weight: bold;
  	position: fixed;
  	z-index: 2;
  	height:100%;
  	width:100%;
  	padding: 20px;
  	text-align: center;
  	top:0;
}
.image{
	margin:auto;
	margin-top:17% !important;
}
::ng-deep .mat-warn{
  background: 'yellow';
}
